.bs-block {
	margin: 0 -10px 20px;
	overflow: hidden
}

.bs-block-list {
	padding-left: 0;
	list-style: none
}

.block-p {
	float: left;
	width: 33%;
	height: 15%;
	padding: 10px;
	font-size: 20px;
	line-height: 1.4;
	text-align: center;
	color: gray;
	background-color: #A6FFA6;
	border: 1px solid #fff
}

.block-c {
	float: left;
	width: 33%;
	height: 15%;
	padding: 10px;
	font-size: 20px;
	line-height: 1.4;
	text-align: center;
	color: gray;
	background-color: #FFD1A4;
	border: 1px solid #fff
}

.block-f {
	float: left;
	width: 33%;
	height: 15%;
	padding: 10px;
	font-size: 20px;
	line-height: 1.4;
	text-align: center;
	color: gray;
	background-color: #D0D0D0;
	border: 1px solid #fff
}

.bs-block li:hover {
	color: #fff;
	background-color: #563d7c
}

@media ( min-width :768px) {
	.bs-block {
		margin-right: 0;
		margin-left: 0
	}
	.bs-block li {
		width: 12.5%;
		height: 115px;
		font-size: 20px
	}
}